body{
    background-color:#fc4b08 ;
    
}
h1{
    text-align: center;
    text-decoration-color: rgb(47, 47, 224);
 }

 img{
    image-orientation: from-image;
 }

 h2{ 
    text-align: center;
    text-decoration-color: rgb(47, 47, 224);
 }


